<!--
  <div>   
  <app-diretiva-ngif></app-diretiva-ngif>
  <br>
  <br>
  <app-ng-for></app-ng-for>
  <br>
  <br>
  <app-diretiva-ngclass></app-diretiva-ngclass>
  <br>
  <br> 
  
</div> 

<div class="container">
<app-operador-elvis></app-operador-elvis> 
<app-diretiva-ngcontent>
  <div class="titulo">Olá Titulo</div>
  <div class="corpo">Esse é o conteúdo</div>
  <div class="corpo">Esse é o conteúdo 222 </div>
</app-diretiva-ngcontent>
</div>
-->
<app-diretivas-personalizadas></app-diretivas-personalizadas>